body {
  background: #dddde7;
  font-family: "Nanum Gothic", sans-serif;
}

.main-heading {
  font-size: 40px;
  text-align: center;
}

.main-app {
  background: rgb(247, 245, 245);
  max-width: 650px;
  margin: 60px auto;
  padding: 45px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form-input {
  background-color: #dddde7;
  border: none;
  border-radius: 5px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
  padding: 15px;
  width: 80%;
  font-size: 15px;
  margin: 20px 0 0 0;
}

.search-form-button {
  background: #434381;
  border: none;
  border-radius: 5px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
  padding: 15px;
  margin: 20px 0 0 5px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(247, 245, 245);
}

main h1 {
  color: #434381;
  margin: 40px 0 0 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.current-temperature-container {
  font-size: 40px;
  margin-top: 65px;
  margin-right: 30px;
  font-weight: bold;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.weather-conditions {
  line-height: 28px;
  color: rgb(65, 61, 61);
  margin: 40px 0 0 0;
}

.weather-forecast {
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  font-size: 14px;
  color: rgb(65, 61, 61);
}

.weather-forecast-temperature {
  font-size: 12px;
}

.weather-forecast-temperature-max {
  color: #434381;
}

.weather-forecast-temperature-min {
  color: #8888a2;
}

footer {
  border-top: 1px solid #d0d0e5;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 12px;
  margin-top: 35px;
}
